<html>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body>

    <!-- <section class="get-in-touch head">
        <h2 class="title">- Agrisar Plus -</h2>
        <div class="container">
          <div class="contact-form row">
    
            <div class="form-field col-lg-12">
              <input id="name" class="input-text" type="text">
              <label for="name" class="label">Enter the amount of Phosphorus</label>
            </div>
    
            <div class="form-field col-lg-12">
              <input id="email" class="input-text" type="text">
              <label for="email" class="label">Enter the amount of Pottasium</label>
            </div>
    
            <div class="form-field col-lg-12">
              <input id="subject" class="input-text" type="text">
              <label for="subject" class="label">Enter the amount of Nitrogen</label>
            </div>

            <div class="form-field col-lg-12 button-form">
              <button id="submit" class="submit-btn"><a href="chart.html">Predict</a></button> 
            </div>
          </div>
        </div>
    
      </section> -->


  

</body>

</html>