<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Agrisar - A Helping Hand to Farmers</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <nav>
    <label class="logo"> AGRISAR </label>
    <ul class="navbar">
      <li><a href="inndex.html">Home</a></li>
      <li><a href="#about-id">About</a></li>
      <li><a href="#contact-us-id">Contact Us</a></li>
      <li>
        <div >
          <button><a href="/agrisar-plus" class="agrisar-plus-a">Agrisar Plus</a></button>
        </div>
      </li>
    </ul>
  </nav>
  <!-- navbar end -->
  <div class="row">
    <div class="col-6 nav-texts">

      <p data-aos="fade-up" data-aos-duration="3000" class="agri">AGRISAR</p>
      <section id="agri-text">
        <p id="agri-texts" data-aos="fade-up" data-aos-duration="3000">A solution every farmer needs</p>
      </section>
      <div class="nav-button">
        <!-- <button type="button" class="nav-btn">Get Started</button> -->
        <button class="nav-btn" type="button" data-aos="fade-up" data-aos-duration="3000">Get Started</button>
      </div>
    </div>
    <div class="col-6">
      <div class="img-nav animated" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
        <img src="/abc.jpg" alt="Agri">
      
      </div>
    </div>
  </div>
  <!-- About -->
  <div  class="head" id="about-id" >
    <div class="container" class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" >
      <p id="about-it">- ABOUT -</p>
      <p id="about-p">Agrisar is a web based platform for farmers to provide a solution for the Low production and to
        solve the lack of visiblity in supply chain. Agrisar helps farmers to list the crops with its price and can
        search
        for nearby warehouse to store the crops. <br> <br>
        The warehouse owners can list the available warehouse with the capacity to rent them to the farmers. <br><br>

        The Best feature that we introduced on our web based application with the help of Harsh Algorithm of Machine
        Learning is Agrisar Plus. In this feature, farmers will list the data about the soil and they will get the name
        of
        the crop that will give them maximum productivity with the available resources.
      </p>
    </div>
  </div>
  <br> <br>
  <div class="container">
    <p id="card-head">- FEATURES -</p>
    <div class="row g-4">
      <div class="col-lg-3 col-lg-3 cc">
        <div class="card" class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" >
          <!-- <img src="abc.jpg" alt="Farmers" class="card-img-top">  -->
          <div class="card-body card-color">
            <h4 class="card-title">No Middle Man</h4>
            <p class="card-text">Farmers can directly list their goods and crops on the website at their price</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3 cc">
        <div class="card" class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" >
          <!-- <img src="abc.jpg" alt="Farmers" class="card-img-top"> -->
          <div class="card-body  card-color">
            <h4 class="card-title">High Productivity</h4>
            <p class="card-text">Agrisar Plus plays a vital role in increasing the productivity by using Machine Learning Algorithms to predict suitable crop for the soil</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-3 cc">
        <div class="card" class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" >
          <!-- <img src="abc.jpg" alt="Farmers" class="card-img-top"> -->
          <div class="card-body card-color">
            <h4 class="card-title">Ease of doing Business</h4>
            <p class="card-text">Warehouse owners can easily list their available warehouse and give them rent to farmer to store goods.</p>
          </div>
        </div>
      </div>
     
      <div class="col-3 col-lg-3 cc">
        <div class="card" class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" >
          <!-- <img src="abc.jpg" alt="Farmers" class="card-img-top"> -->
          <div class="card-body card-color">
            <h4 class="card-title">Goods Storage and Management</h4>
            <p class="card-text">Farmers can choose from the listed warehouse to store the goods and crops. Track of crops and goods is easy for farmers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <section class="get-in-touch head" id="contact-us-id">
    <h2 class="title">- CONTACT US -</h2>
    <div class="container">
      <div class="contact-form row">

        <div class="form-field col-lg-6">
          <input id="name" class="input-text" type="text">
          <label for="name" class="label">name</label>
        </div>

        <div class="form-field col-lg-6">
          <input id="email" class="input-text" type="email">
          <label for="email" class="label">email</label>
        </div>

        <div class="form-field col-lg-12">
          <input id="subject" class="input-text" type="text">
          <label for="subject" class="label">Subject</label>
        </div>

        <div class="form-field col-lg-12">
          <input id="message" class="input-text" type="text">
          <label for="message" class="label">Message</label>
        </div>

        <div class="form-field col-lg-12">
          <input id="submit" class="submit-btn" type="submit">
          <label for="submit" class="label"></label>
        </div>
      </div>
    </div>

  </section>

  <footer class="site-footer">
    <div id="footer-content">
      <p> Made with ❣️ By Team RECODE</p>
    </div>
  </footer>
  


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init(); 
  </script>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }      
    </script>
    
  <script src="script.js"></script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>